.fakeimg {
  height: 200px;
  background: #aaa;
}
.jumbotron{
  background-image: url(bg1.gif);
  background-color: #fff;
}
.jumbotron p{
  margin-right: 5px;
  margin-left: 5px;

}
.jumbotron h1{
  font-size: 45px;
  font-weight: bold;
}
.navbar{
  background-color: #a35449;
}
.navbar li{
  color: #fff;
  font-weight: bold;
}
body{
  background-color: #f2b1b1;
}
